* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
}

.active {
  background-color: rgb(68, 68, 122);
  color: white;
}

.container {
  background-color: rgb(225, 218, 218);
  height: 100vh;
}

.side-bar {
  position: fixed;
  height: 100vh;
  width: 250px;
  background-image: radial-gradient(
    circle farthest-corner at 48.4% 47.5%,
    rgba(122, 183, 255, 1) 0%,
    rgba(21, 83, 161, 1) 90%
  );
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 8px rgb(106, 105, 105);
}

.section {
  height: 100vh;
  width: calc(100% - 250px);
  background-color: white;
  margin-left: 250px;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgb(239, 245, 239);
  overflow: hidden;
}

.section .top-navbar {
  /* border: 4px solid green; */
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  padding: 1rem;
  background-image: linear-gradient(
    178.7deg,
    rgba(126, 184, 253, 1) 5.6%,
    rgba(2, 71, 157, 1) 95.3%
  );
  transition: all 0.3s ease-in-out;
}

.toggler {
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 50%;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease-in-out;
  display: none;
}
.toggler:hover {
  background-color: rgb(21, 21, 95);
  color: white;
}

.heading {
  color: white;
  padding: 0.7rem;
}

.inside-navbar {
  display: flex;
}

.side-bar-options {
  /* border: 4px solid green; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.7rem;
}
.side-bar-options button {
  padding: 0.7rem 0;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 1rem;
}
.side-bar-options button:hover {
  background-color: rgb(68, 68, 122);
  color: white;
}

.section-content {
  padding: 6rem 1rem;
  /* border: 10px solid green; */
}

.signin {
  /* border: 5px solid black;  */
  display: none;
}
.register {
  /* border: 4px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#register-heading {
  padding: 1rem;
  /* border: 5px solid green; */
  text-align: center;
}
.register-form {
  /* border: 4px solid black; */
  width: 100%;
  padding: 1rem 0;
}

form {
  margin: 0 auto;
  /* border: 10px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  min-width: 400px;
  padding: 2rem;
  box-shadow: 0 0 5px 1px rgb(195, 194, 194);
  border-radius: 7px;
}
form input {
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
}

form button[type="submit"] {
  border: none;
  width: fit-content;
  padding: 1rem 3rem;
  background-color: rgb(219, 212, 212);
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}
form button:hover {
  background-color: rgb(204, 200, 200);
  color: rgb(46, 45, 45);
  box-shadow: 0px 0px 2px 1px rgb(93, 92, 92);
}
#name-message,
#password-message,
#email-message,
#signin-email-message,
#signin-password-message {
  padding: 0;
  margin: 0;
  display: none;
}

.password-handler {
  /* border: 5px solid green; */
  position: relative;
}
.password-handler button {
  position: absolute;
  top: 10px;
  right: 5px;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
}
.password-handler input {
  width: 100%;
}

@media (max-width: 768px) {
  .side-bar {
    width: 0;
  }
  .section {
    margin-left: 0;
    width: 100%;
  }
  .section .top-navbar {
    left: 0;
    width: 100%;
  }
  .toggler {
    display: block;
  }
}
